body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5; /* light grey */
  display: flex;
  flex-direction: column;
  height: 100vh; 
  justify-content: space-between;
}

h1, h2 {
  font-weight: bold;
  color: #00008B; /* dark blue */
}

header {
  background-color: #7e7e7e; 
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 1;
}

#main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#search-section {
  flex: 1;
  margin-right: 20px;
}

#weather-dashboard {
  
  flex: 2;
}

#search-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#city-input {
  padding: 10px;
  width: 250px;
  font-size: 18px;
  background-color: #F5F5F5; /* light grey */
  border: 1px solid #00008B; /* dark blue */
  transition: border-color 0.3s ease-in-out;
}

#city-input:focus {
  border-color: #1E90FF; /* dodger blue */
}

/* Image Styles */
img {
  width: 100%;         
  max-height: 500px;  
  object-fit: cover;  
}

#search-button {
  padding: 10px 15px;
  background-color: #00008B; /* dark blue */
  border: none;
  color: #F5F5F5; /* light grey */
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

#search-button:hover {
  background-color: #1E90FF; /* dodger blue */
}

main {
  padding: 20px;
  border: 1px solid #00008B; /* dark blue */
  background-color: #F5F5F5; /* light grey */
}

/* Forecast Section */
#forecast-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #00008B; /* dark blue */
  background-color: #F5F5F5; /* light grey */
  margin-top: 20px;
}

.forecast-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid #00008B; /* dark blue */
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #DCDCDC; /* gainsboro grey */
}

.forecast-card:hover {
  box-shadow: 0px 0px 10px 3px #1E90FF; /* dodger blue */
}

.forecast-date {
  font-weight: bold;
}

.forecast-temp {
  color: #00008B; /* dark blue */
  font-weight: bold;
}



/* Search History Section */
#search-history {
  margin-top: 50px; 
  font-size: 1.2em;
  color: #00008B; /* dark blue */
}

/* footer */
footer {
  background-color: #7e7e7e; 
  padding: 20px;
  text-align: center;
}