body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5; /* light grey */
  display: flex;
  flex-direction: column;
  height: 100vh; 
  justify-content: space-between;
}

h1, h2 {
  font-weight: bold;
  color: #00008B; /* dark blue */
}

header {
  background-color: #7e7e7e; 
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 1;
}

#main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#search-section {
  flex: 1;
  margin-right: 20px;
}

#weather-dashboard {
  
  flex: 2;
}

#search-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#city-input {
  padding: 10px;
  width: 250px;
  font-size: 18px;
  background-color: #F5F5F5; /* light grey */
  border: 1px solid #00008B; /* dark blue */
  transition: border-color 0.3s ease-in-out;
}

#city-input:focus {
  border-color: #1E90FF; /* dodger blue */
}

/* Image Styles */
img {
  width: 100%;         
  max-height: 500px;  
  object-fit: cover;  
}

#search-button {
  padding: 10px 15px;
  background-color: #00008B; /* dark blue */
  border: none;
  color: #F5F5F5; /* light grey */
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

#search-button:hover {
  background-color: #1E90FF; /* dodger blue */
}

main {
  padding: 20px;
  border: 1px solid #00008B; /* dark blue */
  background-color: #F5F5F5; /* light grey */
}

/* Forecast Section */
#forecast-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #00008B; /* dark blue */
  background-color: #F5F5F5; /* light grey */
  margin-top: 20px;
}

.forecast-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid #00008B; /* dark blue */
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #DCDCDC; /* gainsboro grey */
}

.forecast-card:hover {
  box-shadow: 0px 0px 10px 3px #1E90FF; /* dodger blue */
}

.forecast-date {
  font-weight: bold;
}

.forecast-temp {
  color: #00008B; /* dark blue */
  font-weight: bold;
}



/* Search History Section */
#search-history {
  margin-top: 50px; 
  font-size: 1.2em;
  color: #00008B; /* dark blue */
}

/* footer */
footer {
  background-color: #7e7e7e; 
  padding: 20px;
  text-align: center;
}

img.your-image-class {
  /* Width and auto height */
  width: 150px;
  height: auto;

  /* Add a border */
  border: 3px solid #333;

  /* Rounded corners */
  border-radius: 10px;

  /* Box shadow for a 3D effect */
  box-shadow: 10px 10px 5px #888;
  
  /* Transition effect for hover */
  transition: transform .2s;
}

/* Scale the image up slightly when hovered over */
img.your-image-class:hover {
  transform: scale(1.1);
}







/* header rain img*/
header {
  /* Set the height of the header */
  height: 200px;

  /* Use the rain gif as a background image */
  background-image: url(/ServerSideWetha/Pictures/rainheader-SERVERSIDEWETHA.gif);

  /* Center the text and set other text properties */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
}




/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
    flex-direction: column;
  }

  h1, h2 {
    font-size: 24px;
  }

  #main-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #search-section,
  #weather-dashboard {
    margin: 0;
    width: 100%;
  }

  #search-form {
    flex-direction: column;
    margin: 20px 0;
  }

  #city-input {
    width: 100%;
    margin-top: 10px;
  }

  img.your-image-class {
    width: 100px;
  }

  #forecast-section {
    width: 100%;
  }

  .forecast-card {
    flex-direction: column;
    align-items: start;
  }
}
